@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

p {
    word-wrap: break-word;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px;
    gap: 20px;
}

.item {
    background-color: aqua;
    height: fit-content;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.roulette{
    border-radius: 15%;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #ccc;
    text-align: center;
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#bet_value{
    width: 25%;
    font-size: larger;
    height: 3rem;
}

.bet_btn{
    cursor: pointer;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
    font-weight: bold;
}

.row{
    padding-top: 10;
}

.black{
    background-color: #272727;
    color: #969696;
}

.red{
    background-color: #CE3B3B;
    color: #6C0404;
}

.green{
    background-color: #41B836;
    color: #075600;
}

.last_numbers{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.last_number{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 13%;
}